


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* S'assure que le conteneur occupe toute la hauteur */
    width: 100%; /* S'assure que le conteneur occupe toute la largeur */
    position: relative; /* Nécessaire pour les enfants positionnés */
    z-index: 1; /* Place l'image au-dessus de l'arrière-plan */
}

.henel {
    height: auto; /* Maintient le ratio de l'image */
    max-width: 500px; /* Définit une largeur maximale */
    display: block; /* Supprime tout comportement inline par défaut de l'image */
}

.disc{
    height: 40px;
}
.home {
    display: flex; /* Permet de positionner les éléments côte à côte */
    flex-wrap: wrap; /* Les éléments passeront à la ligne si l'espace est insuffisant */
    justify-content: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Espacement entre les éléments */
    padding: 20px; /* Optionnel : espacement intérieur */
    background-color: rgba(0, 0, 0, 0.829);
}

.boiteHome {
    flex: 1 1 300px; 
    max-width: 800px; 
    margin : 20px; 
    box-sizing: border-box; 
}

.boite{
    display: flex;
    align-items: center;
    background-color: #a02121;
    color: white;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    height: 80px;
    width: 800px;
    font-size: 35px;
}

.textBoite{
    width: 800px;
    padding: 20px;
    padding-top: 40px;
    margin-top: -20px;
    background-color: #a021215d;
    color: white;
    border-radius: 20px;
}