

.enTete {
    font-family: "Audiowide", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #D1261E;
    z-index: 1;
    margin: 0;
    padding: 0;
    max-width: 100%;
    transition: none;
    flex-shrink: 0;
}

.pinInput {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    text-align: center;
    background-color: #a02121;
    outline: none;
    box-sizing: border-box;
}

.error {
    color: #a02121;
    margin-top: 10px;
    font-size: 12px;
    max-width: 100%;
    text-align: center;
}

.connexionButton {
    display: none;
}

.audio-player {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    color: #b84343;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    font-family: Arial, sans-serif;
    background: rgba(0, 0, 0, 0.8);
}

button {
    background-color: #a02121;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

input[type="range"] {
    -webkit-appearance: none; /* Supprime le style par défaut pour Chrome/Safari */
    appearance: none;
    width: 100%;
    margin: 10px 0;
    height: 8px; /* Hauteur de la barre */
    background: linear-gradient(to right, #a02121, #000); /* Couleur de la barre */
    border-radius: 5px;
    cursor: pointer;
    outline: none; /* Supprime le contour */
}

/* Curseur pour Chrome, Safari, Edge */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #1DB954;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

/* Style pour Firefox */
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #642222;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

/* Ajustement pour le track dans Firefox */
input[type="range"]::-moz-range-track {
    background: linear-gradient(to right, #a02121, #000);
    height: 8px;
    border-radius: 5px;
}

/* Style général pour la gestion du volume */
.volume-control {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.volume-icon {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.volume-bar-container {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.volume-control:hover .volume-bar-container {
    visibility: visible;
    opacity: 1;
}

input[type="range"].volume-bar {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 100px;
    background: linear-gradient(to top, #7c0a0a, #000000);
    border-radius: 10px;
    cursor: pointer;
}

input[type="range"].volume-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #ff0000;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

input[type="range"].volume-bar::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #ff0000;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}


.audio-player span{
    display: none;
}